<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/bcc24e8464.js" crossorigin="anonymous"></script>
    <title>One For All</title>
</head>
<body>   
    <header>
      <nav id="navi">
        <div class="for_flex">
          <a href="/"><img id="logo" src="/img/logo.png"></a>
          <div id="searchbar">
            <form action="/product/search" method="POST">
              <select name="search" tabindex="0" id="searchbarinput">
                <option value=""></option>
                <option value="perfume">Perfume</option>
                <option value="watch">Watch</option>
                <option value="sunglasses">Sunglasses</option>
                <option value="accessories">Computer Accessories</option>
              </select>
              <input type="submit" value="Search" id="searchbutton">
            </form>
          </div>
        </div>
        <div class="for_flex" id="h_pad">
          <h2><a class="sec_main" href="/product/products">Products</a></h2>
          {{#if info}}
            <h2><a class="sec_main" href="/logout">Logout</a></h2>
            <h2><a class="sec_main" href="/dashboard">Dashboard</a></h2>
          {{else}}
            <h2><a class="sec_main" href="/login">Sign In</a></h2>
            <h2><a class="sec_main" href="/registration">Sign Up</a></h2>
          {{/if}}
        </div>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer id="foot">
        <div>
        <p id="foot_title">One For All</p><br>
        <form id="form_footer" action="" method="POST" >
          <label for="news">Do you wanna subscribe to our newsletter?</label>
          <input type="email" name="news" placeholder="xyz@example.com" required class="pad_rad"><br>
          <input type="submit" id="sub" value="Submit"><br><br>
        </form>
        <text id="creator">©2020 Puneet Singh Dullat</text>
      </div>
    </footer>

</body>
</html>