<p id="for_style">
    Welcome <strong>Adminstrator:</strong> {{info.name}}
</p>
<a href="/product/add"><p>ADD Products</p></a>
<a href="/logout"><p>Logout</p></a>
<a href="/product/productlist"><p>ALL PRODUCTS</p></a>