<p id="for_style">
    Welcome <strong style="color: darkred;">Adminstrator:</strong> {{info.name}}
</p><br>
<a href="/product/add" class="dashboard_admin"><span class="p_dash">Add Products</span></a>
<a href="/product/productlist" class="dashboard_admin"><span class="p_dash">List All Products</span></a><br><br><br>
<a href="/logout" class="dashboard_admin"><span class="p_dash">Logout</span></a>