<p id="for_style">
    Welcome to <strong>One For All</strong>, {{name}}{{info.name}}
</p>
<a href="/product/add"><p>ADD Products</p></a>
<a href="/logout"><p>Logout</p></a>
<a href="/product/productlist"><p>ALL PRODUCTS</p></a>