<section id="sec_prod">
    {{#each products}}
    <a href="{{href}}"><div class="prod_div">
        <p class="home_pro">{{title}}</p>
        <img class="prod_img" src="{{src}}" alt="Products">
    </div></a>
    {{/each}}
</section>