<form action="/product/addproduct" method="POST" enctype="multipart/form-data" class="form_regis">
    <p class="main_head_lr">ADD PRODUCTS</p>
    <label for="title">Title</label><br>
    <input type="text" name="title" id="title" autofocus tabindex="0"><br>
    {{#each titlemsg}}
        <span class="err_login">{{this}}</span><br>
    {{/each}}
    <br>

    <label for="price">Price</label><br>
    <input type="text" name="price" id="price" tabindex="0"><br>
    {{#each pricemsg}}
        <span class="err_login">{{this}}</span><br>
    {{/each}}
    <br>

    <label for="description">Description</label><br>
    <textarea name="description" id="description" tabindex="0" cols="40" rows="10"></textarea><br>
    {{#each descmsg}}
        <span class="err_login">{{this}}</span><br>
    {{/each}}
    <br>

    <label for="category">Category</label>
    <select name="category" tabindex="0">
        <option value="perfume">Perfume</option>
        <option value="watch">Watch</option>
        <option value="sunglasses">Sunglasses</option>
        <option value="accessories">Computer Accessories</option>
    </select><br><br>
    <br>

    <label for="quantity">Quantity</label><br>
    <input type="number" name="quantity" id="quantity" min="1" tabindex="0"><br>
    {{#each quanmsg}}
        <span class="err_login">{{this}}</span><br>
    {{/each}}
    <br>

    <label for="best">Best Seller</label>
    <select name="best" tabindex="0">
        <option value="no">No</option>
        <option value="yes">Yes</option>
    </select><br><br>

    <label for="photo">Product Picture</label><br>
    <input type="file" name="photo" id="photo" tabindex="0"><br><br>

    <input type="submit" value="ADD" tabindex="0">
</form>